<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>PinyinType</title>
</head>
<body>
  <div id="loader"></div>
  <div class="col-md-8">
    <p>
      <span id="title"><strong>Pinyin<span class="incorrect">Type </span><span>  </span></strong></span>
      &nbsp;&nbsp;
      <input type="checkbox" onclick="handleClick(this);" id="toggle-button" name="toggle-button"/>
      <label for="toggle-button"><span style="color:white">l</span></label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a id="spoken-sentence" onclick="this.firstElementChild.play()" class="button">
        <audio src="http://api.voicerss.org?src=<%= @trans_chinese %>&r=-3&hl=zh-cn&f=48khz_16bit_stereo&key=<%= Figaro.env.voice_rss_key %>">
        </audio>
        &#9658;
      </a>
    </p>
  </div>
  <div class="col-md-8" id="word-container">
    <form>
      <div style="background-color:green" class="chinese" id="chinese-sentence"><p></p></div>
      <p>
        <label style="background-color:blue" class="english" id="pinyin-sentence"></label><br />
        <input type="text" id="userText" autocomplete="off">
        <div id="block-of-white"></div>
        <div id="cursor-sensor"></div>
        <div class="english" id="english-sentence"><p><%= @chinese %></p></div>
      </p>
    </form>
    <%= form_for :sentence, url: sentences_path do |f| %>
      <%= f.text_field :words, class: "form-control" %>
      <%= f.submit "Create New Sentence", class: "btn btn-success" %>
      <%= link_to "Default", sentences_path(sentence:  { words: @default_sentence }), id: "default", class: "btn btn-danger", method: :post %>
    <% end %>
  </div>
  <div id="definition-container" class="pull-right">
    <p id="chinese-def" class="text-center"></p>
    <p id="pinyin-def" class="text-center"></p>
    <p id="english-def"></p>
  </div>
  <script type="text/javascript" charset="utf-8">
    var payload = <%= @payload.html_safe %>
  var voiceRSS = "<%= @voiceRSS %>"
</script>
</body>
